<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pessoas Fisica e Juridica</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>HOME</div>
        <div>
            <a href="/produtos/form"><button>Cadastrar Produtos</button></a>
           <br>
           <a></a>
            <a href="/produtos/list"><button>Listar Produtos</button></a>
            <br>
            <a></a>
            <a href="/venda/list"><button>Listar vendas</button></a>
            <br>
            <a></a>
            <a href="/produtos/listaitens"><button>Adicionar produto ao carrinho</button></a>
            <br>
             <a></a>
            <a href="/venda/carrinho"><button>Carrinho</button></a>
            <br>
        </div>
    </body>
</html>
