<div th:insert="fragments/header :: modelheader"></div>
        <h1>HOME</h1>
        <div>
            <a href="/produtos/form"><button>Cadastrar Produtos</button></a>
           <br>
           <a></a>
            <a href="/produtos/list"><button>Listar Produtos</button></a>
            <br>
            <a></a>
            <a href="/venda/list"><button>Listar vendas</button></a>
            <br>
            <a></a>
            <a href="/produtos/listaitens"><button>Adicionar produto ao carrinho</button></a>
            <br>
            <a></a>
            <a href="clienteFisica/form"><button>Adicionar Cliente</button></a>
            <br>
            <a></a>
            <a href="clienteFisica/list"><button>Listar Cliente</button></a>
            <br>
             <a></a>
            <a href="/venda/carrinho"><button>Carrinho</button></a>
            <br>
        </div>
<div th:insert="fragments/footer :: modelfooter"></div>