<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tr th:each="p : ${vendas}">
                <td th:text="${p.id}"> </td>
                <td th:text="${p.data}"> </td>
                <td th:text="${p.total()}"> </td>
                <td> <a th:href="@{/venda/detalhes/{id}(id=${p.id})}">Detalhes</a> </td>
            </tr>
        </table>

    </body>
</html>